
.row {
    /* width: 200px; */
    display: flex;
    /* justify-content: center; */
    /* flex-direction: row; */
    /* gap: 10px; */
}
mat-dialog-title {
    text-align: end;
}
/* .example-form-fields {
    display: flex;
    align-items: flex-start;
  } */