<div class="containe-fluid page">
    <div class="row">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>{{"Toal Business: " +data.data[0][0].totalBusiness}}</mat-grid-tile>
            <mat-grid-tile>{{"Total Auditor: " +data.data[0][0].totalAuditor}}</mat-grid-tile>
            <mat-grid-tile>{{"Total Location: " +data.data[0][0].totalLocation}}</mat-grid-tile>
            <mat-grid-tile>{{"Total Branch Manager: " +data.data[0][0].totalBranchManager}}</mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
  


